@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,500;0,600;1,300&display=swap');

*{
    margin: 0pxm ;
    padding: 0px;
    background: #f9edd8;
    font-family: 'Poppins', sans-serif;

}

.navbar{
    height: 90px;
    width: 80% auto;
    border-bottom: 2px solid;

}
.navbar ul{
    list-style: none;
    text-emphasis: none;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.navbar ul li a{
  list-style: none;
  text-decoration: none;

}

.navbar ul li a:hover{
    background-color: rgb(0, 251, 255);
}

.middle_page{
    display: flex;
    justify-content: space-between;
    margin-right: 90px;
    padding-top: 50px;
}
.middle_page img{
    height: 500px;
    width: 600px;
    border-radius: 30px 25px;
}

.middle_page h1{
    padding-top: 30px;
    font-size: 90px;
    margin-left: 170px;
}

.about_page{
   
    text-align: center;
    padding-top: 120px;
}
.submit_form{
    max-width: 500px;
    margin: 2rem auto;
    border:2px solid;
    padding: 2rem;
}

input{
    padding: .5rem;
    margin: 10px;
    border-radius: 12px;


}

button{
    background: aqua;
}

.pet_card h3{
  padding: 1rem;
  text-align: center;
}